rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read, write: if true;
    }
    match /personalInfo/{docId} {
      allow read, write: if true;
    }
    match /messages/{messageId} {
      allow read, write: if true;
    }
    match /integrations/{docId} {
      allow read, write: if true;
    }
  }
}
